body {
  
	background-image: url('/images/ShareBG.png');
	background-repeat: no-repeat;
	background-position: center -100px;
	background-color: #DFF1FE;
	
	overflow: auto;
 
}
.kite1 {
	background-image: url('/images/kite1.png');
	background-repeat: no-repeat;

	position: absolute;
	width: 200px;
	overflow:auto;
	top: 300px;
	right: 0px;
	z-index: -1;
	bottom: 0px;


}

